/* =============
    Associations
============= */

#associations{
    padding-left: 48px;
    ul{
        padding-left: 64px;
        li{
            list-style-type: disc;
            padding-top: 8px;
        }
    }
    padding-bottom: 16px;
}

#causes{
    padding-left: 48px;
    ul{
        padding-left: 64px;
        li{
            list-style-type: disc;
            padding-top: 8px;
        }
    }
    padding-bottom: 24px;
}