/* =============
    Associations
============= */

section{
    padding-left: 24px;
    dl{
        padding-left: 64px;
        dt{
            padding-top: 8px;
        }
    }
    padding-bottom: 16px;
    line-height: 1.5;
}
