/* =============
    Associations
============= */

section{
    padding-left: 48px;
    ul{
        padding-left: 64px;
        li{
            list-style-type: disc;
            padding-top: 8px;
            dd{
                padding-right: 16px;
            }
        }
    }
    padding-bottom: 16px;
    line-height: 1.5;
}
