/* =============
    Contact
============= */

#contact-content{
    @include lg{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas:
        "cl cr";
        gap: 16px;  
    }
}

#contact-left{
    grid-area: cl;
}

#contact-right{
    grid-area: cr;
}
#nav-contact{
    background-color: white;
}