/* =============
    Contact
============= */

#contact-content{
    @include lg{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas:
        "cl cr";
        gap: 16px;  
    }
}

#contact-left{
    grid-area: cl;
}

#contact-right{
    grid-area: cr;
    padding-bottom: 24px;
}
#nav-contact{
    background-color: white;
}
.social-icon{
    li{
        margin: 0 8px;
    }
}