/* =============
    Education
============= */
#edu-content{
    @include lg{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas:
        "el ert"
        "elt er"
        "eb eb";
        gap: 16px;  
    }
}

#edu-left{
    grid-area: el;
    padding-bottom: 24px;
    padding-left: 48px;
}

#edu-right-text{
    grid-area: ert;
}

#edu-left-text{
    grid-area: elt;
}

#edu-bottom{
    grid-area: eb;
}

h1{
    padding-bottom: 24px;
}