/* =============
    Education
============= */
#edu-content{
    @include md{
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas:
        "el ert"
        "elt er"
        "eb eb";
        gap: 16px;  
    }
}

#edu-left{
    grid-area: el;
}

#edu-right-text{
    grid-area: ert;
}

#edu-left-text{
    grid-area: elt;
}

#edu-bottom{
    grid-area: eb;
}