/* =============
    Education
============= */
#edu-content{
    @include lg{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas:
        "el ert"
        "elt er"
        "eb eb";
        gap: 16px;  
    }
}

#edu-left{
    grid-area: el;
    padding-bottom: 24px;
    padding-left: 140px;
}

#edu-right-text{
    grid-area: ert;
    padding-left: 188px;

    h2{
        padding-left: 16px;
        padding-bottom: 8px;
    }

    ul{
       padding-left: 54px;
       
       li{
        list-style-type: disc;
       }
    }
    
    p{
        padding-top: 16px;
    }
}

#edu-left-text{
    grid-area: elt;
    padding-left: 48px;

}

#edu-bottom{
    grid-area: eb;
    padding-bottom: 24px;
    padding-left: 56px;

    h2{
        padding-left: 24px;
    }
}

h1{
    padding-bottom: 24px;
}