/* =============
    Experience
============= */

h2{
    padding-top: 24px;
    padding-bottom: 24px;
}

#experience-top{
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    ul{
        padding-left: 56px;
        li{
            list-style-type: disc;
        }
    }
}

#experience-bottom{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
}

#experience-blurb{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}