/* =============
    Experience
============= */
h1{
    padding-left: 24px;
}

h2{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 56px;
}

#experience-top{
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    ul{
        padding-left: 56px;
        li{
            list-style-type: disc;
        }
    }
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

#experience-bottom{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

#experience-blurb{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}