/* =============
    Experience
============= */

h2{
    padding-top: 24px;
    padding-bottom: 24px;
}

#experience-top{
    padding-bottom: 16px;
    ul{
        padding-left: 24px;
        li{
            list-style-type: disc;
        }
    }
}