/* =============
    Index
============= */

#index{
    a:link, a:visited{
        color: var(#054e76)
    }
    a:hover, a:active{
        color: var(#054e76)
    }
}

#index-content{
    @include lg{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas:
        "il ir"
        "ib ib";
        gap: 16px;  
    }
}

#index-left{
    grid-area: il;
}

#index-right{
    grid-area: ir;
    h2{
        padding-bottom: 24px;
    }
    p{
        padding-bottom: 48px;
    }
}

#index-bottom{
    grid-area: ib;
    padding-bottom: 48px;
    h2{
        padding-bottom: 24px;
        padding-top: 24px;
    }
}
