/* =============
    Index
============= */

#index{
    a:link, a:visited{
        color: var(#054e76)
    }
    a:hover, a:active{
        color: var(#054e76)
    }
}

#index-content{
    @include lg{
        dispaly: grid;
        grid-template-columns: 60% auto;
        gap: 16px
    }
    @include xl{
        grid-template-columns: 70% auto;
    }
    @include xxl{
        grid-template-columns: 75% auto;
    }
}