/* =============
    Index
============= */

#index{
    a:link, a:visited{
        color: var(#054e76)
    }
    a:hover, a:active{
        color: var(#054e76)
    }
}

#index-content{
    @include lg{
        dispaly: grid;
        grid-template-columns: 50%;
        gap: 16px
    }
}