/* =============
    Projects
============= */

#project-content{
    @include lg{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas:
        "plt   pr"
        "plr   pr";
        gap: 16px;  
    }
}

h1{
    padding-left: 24px;
}

#project-left-top{
    grid-area: plt;
    padding-left: 24px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

#project-left-bottom{
    grid-area: plr;
    padding-left: 24px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

#project-right{
    grid-area: pr;
    padding-right: 24px;
    padding-left: 24px;
    dl{
        padding-left: 48px;
        dt{
            list-style-type: disc;
            padding-top: 8px;
        }
    }
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
