/* =============
    Projects
============= */

#project-content{
    @include lg{
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-areas:
        "plt   pr"
        "plr   pr";
        gap: 16px;  
    }
}

h1{
    padding-left: 24px;
}

#project-left-top{
    grid-area: plt;
    padding-left: 24px;
}

#project-left-bottom{
    grid-area: plr;
    padding-left: 24px;
}

#project-right{
    grid-area: pr;
    padding-right: 24px;
    ul{
        padding-left: 24px;
        li{
            list-style-type: disc;
            a{
                margin-bottom: 8px;
            }
        }
    }
}
