/* =============
    Header
============= */

header{
    padding: 48px 0;
    text-align: center;

    a:link, a:visited{
        color: var(darkseagreen);
        transition: 0.25s;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
    }

    a:hover, a:active{
        color: var(cadetblue);
        text-decoration: none;
    }
}