/* =============
    Header
============= */

header{
    padding: 48px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: rem-calc(24px);

    h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: rem-calc(16px); 
    }
    
    nav{
        a:link, a:visited{
            color: var(darkseagreen);
            transition: 0.25s;
            text-decoration: none;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            font-size: rem-calc(16px);
        }

        a:hover, a:active{
            color: var(cadetblue);
        }      
    }
}