/* =============
    Navigation
============= */
a:link, a:visited{
    color: var(darkseagreen);
    transition: 0.25s;
    text-decoration: none;
}

a:hover, a:active{
    color: var(cadetblue);
    text-decoration: none;
}

.bold-link{
    font-weight: 600;
}

nav{
    ul{
        il{
            padding-left: 16px;
            font-size: rem-calc (16);
            a{

            }
        }
    }
}