/* =============
    Base
============= */

header{
background-color: darkseagreen;
}

footer{
    background-color: darkseagreen;
}

body{
    background-color: #f2f2f2;
}

.content-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

    .content-grid-item{
        background-color: white;
        grid-area: content;

    }
}
section{
    text-decoration: none;
}