/* =============
    Base
============= */

header{
background-color: darkseagreen;
white:link, white:visited{
    color: var(--whitee);
}
cadetblue:hover, cadetblue:active{
    color: var(--cadetblue)
}
}
footer{
    background-color: darkseagreen;
}
