/* =============
    Base
============= */

header{
background-color: darkseagreen;
white:link, white:visited{
    color: white;
}
cadetblue:hover, cadetblue:active{
    color: cadetblue
}
}
footer{
    background-color: darkseagreen;
}
h1{
    color: darkseagreen
}